<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is the current ozone air quality readout for my neighborhood in Kansas city.</p>
  <hr class="my-4">
  <p>Hit Reaload in your web browser to update the reading... </p>
  <a class="btn btn-secondary btn-lg" href="#" role="button">Learn more</a>
</div>
