<h1>OZONE APP!!!</h1>
<p>Find me in app/views/home/index.html.erb</p>
<div class="container">
  <h1 class="text-primary">Bootstrap is Working!</h1>
  <button class="btn btn-success">Test Button</button>
</div>
